<div class="share">
    <ul>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/thespartoos" style="color: #00aef3;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://github.com/thespartoos" style="color: white;">
                <i class="fab fa-github"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.hackthebox.com/home/users/profile/435714">
		<script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
		<span class="iconify" data-icon="simple-icons:hackthebox" style="color: #2bff2b;"></span>
            </a>
        </li>

    </ul>
</div>
